@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
	--primary-dark: #212121;
	--box-shadow: rgba(0, 0, 0, 0.3);
	--light-dark: #777;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	/* border: none; */
	outline: none;
	/* transition: all 0.5s; */
	text-transform: capitalize;
}
html {
	width: 100%;
	font-family: "Poppins", sans-serif;
}
* img {
	user-select: none;
	pointer-events: none;
}
header {
	display: flex;
	padding: 10px 10%;
	background-color: var(--primary-dark);
	align-items: center;
	justify-content: space-between;
}
header img {
	width: 250px;
}
header ul {
	display: flex;
}
header ul li {
	padding: 0 20px;
}
header ul li a {
	color: #fff;
	font-size: 2rem;
}
header ul li a:hover {
	border-bottom: 1px solid #fff;
}
#menu-btn {
	z-index: 2;
	color: #fff;
	font-size: 1.7rem;
	display: none;
}
.navbar {
	background-color: #fff;
	position: sticky;
	top: 0;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	box-shadow: 1px 1px 10px var(--box-shadow);
	overflow: hidden;
}
.navbar li,
.sidenavlinks li {
	padding: 10px 18px;
}
.navbar li a,
.navSociallinks a {
	color: var(--light-darkk);
	font-size: 1.2rem;
}
.navbar li:hover {
	background-color: var(--primary-dark);
}
.navbar li:hover a {
	color: #fff;
}

/* side nav */
.sidenavbar {
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	box-shadow: 1px 1px 10px var(--box-shadow);
	z-index: 1;
}
.navSociallinks {
	display: block;
	justify-content: flex-start;
	background-color: var(--primary-dark);
	padding: 20px;
}
.navSociallinks ul {
	padding-top: 5px;
	display: flex;
}
.navSociallinks ul li {
	padding-right: 5%;
}
.navSociallinks ul li a {
	font-size: 1.8rem;
	color: #fff;
}
.navSociallinks img {
	width: 180px;
}
.sidenavlinks {
	color: var(--light-darkk);
	font-size: 1.2rem;
}

/* home */
.home {
	position: relative;
	width: 100%;
	height: 80vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.6)),
		url(img/back1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.home .slider {
	width: 80%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	margin: auto auto;
}
.slider h2 {
	font-size: 2rem;
	padding: 10px 10px;
}
.slider p {
	font-size: 1.2rem;
}
/* our services */

.ourservices {
	padding: 2rem 0;
}
.ourservices h2 {
	text-align: center;
	font-size: 1.7rem;
	padding: 2rem 0;
}
.ourservices .content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3rem;
	padding: 0 5%;
}
.ourservices .card img {
	width: 250px;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	object-fit: cover;
}
.ourservices .card:hover {
	transform: scale(1.05);
	box-shadow: inset 10px 1px 1px #212121d7, 1px 1px 10px var(--box-shadow);
}
.ourservices .content .card {
	display: flex;
	box-shadow: 1px 1px 10px var(--box-shadow);
	border-radius: 1rem;
	overflow: hidden;
}
.cardtext {
	padding: 1rem;
}
.cardtext h3 {
	padding: 1rem;
}
/* about section */
.about {
	width: 100%;
}
.about .firstcontent {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.6)),
		url(img/back1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.firstcontent h3 {
	color: #fff;
	font-size: 2rem;
	font-weight: 400;
	width: 50%;
	text-align: center;
	/* margin: auto ; */
}
.secondcontent {
	padding: 2% 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.secondcontent h2 {
	font-size: 2rem;
	font-weight: 400;
	padding: 30px;
}
.secondcontent p {
	line-height: 40px;
	letter-spacing: 1px;
	font-size: 1.3rem;
	text-align: justify;
	text-indent: 50px;
}
.thirdcontent {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-between;
}
.thirdcontent img {
	flex-basis: 40%;
	width: 40%;
}
.thirdcontent .thirdparttext {
	flex-basis: 58%;
	padding-right: 10%;
}
.thirdparttext h3 {
	font-size: 3rem;
	font-family: "Courier New", Courier, monospace;

	padding-bottom: 30px;
}
.thirdparttext p {
	line-height: 2.5rem;
	letter-spacing: 1px;
	font-size: 1.3rem;
	text-align: justify;
	text-indent: 50px;
}

/* meadia query */
/* extra large screea */
@media (max-width: 2560px) {
	.slider h2::before,
	.slider h2::after {
		display: inline-block;
		content: "";
		border-top: 0.3rem solid #ffffff;
		width: 4rem;
		margin: auto 10px;
	}
	.navbar {
		z-index: 1000;
	}
}
/* extra large lap */
@media (max-width: 1440px) {
	.slider h2::before,
	.slider h2::after {
		display: inline-block;
		content: "";
		border-top: 0.3rem solid #ffffff;
		width: 4rem;
		margin: auto 10px;
	}
	.navbar {
		z-index: 1000;
	}
}

/* laptops */
@media (max-width: 1024px) {
	html {
		font-size: 60%;
	}
	.ourservices .card img {
		width: 200px;
	}
	.ourservices .content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3rem;
		padding: 0 2%;
	}
	.cardtext p {
		font-size: 90%;
	}
}
/* tab view */
@media (max-width: 768px) {
	header img {
		width: 200px;
	}
	header ul {
		display: none;
	}
	#menu-btn {
		display: inline-block;
	}
	.navbar {
		display: none;
	}
	.fa-times {
		transform: rotate(180deg);
		color: black;
	}

	.sidenavbar.active {
		width: 100%;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 1px 1px 10px var(--box-shadow);
	}
	.slider h2::before,
	.slider h2::after {
		display: none;
	}
	.slider h2 {
		font-size: 1.7rem;
		padding: 10px 10px;
	}
	.slider p {
		font-size: 1rem;
	}
	.services h3 {
		font-size: 1.7rem;
	}
	.ourservices .content {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2.5rem;
		padding: 0 5%;
	}
	.about {
		position: relative;
	}
	.firstcontent {
		height: auto;
	}
	.secondcontent {
		width: 90%;
		margin: 0 auto;
		height: auto;
		box-shadow: 1px 1px 10px var(--box-shadow);
		position: relative;
		top: -30px;
		z-index: 2;
		background-color: #fff;
		padding: 10px;
		border-radius: 0.7rem;
	}
	.firstcontent h3 {
		color: #fff;
		font-size: 2rem;
		font-weight: 400;
		width: 90%;

		/* margin: auto ; */
	}
	.secondcontent p {
		line-height: 25px;
		letter-spacing: normal;
	}
	.thirdcontent {
		background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.6)),
			url(./img/about1.jpg);
		background-position: center;
		background-size: cover;
		color: #fff;
		width: 100%;
		height: auto;
		margin-top: -60px;
	}
	.thirdcontent img {
		display: none;
	}
	.thirdcontent .thirdparttext {
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px 10px;
	}
	.thirdparttext h3{
		padding: 30px 10px;
	}
}
/*large  phone  */
@media (max-width: 425px) {
	.home{
		height: 50vh;
	}
	header img {
		width: 150px;
	}
	.slider h2 {
		font-size: 1.5rem;
	}
	.slider p {
		font-size: 0.7rem;
	}
	.services h3 {
		font-size: 1.5rem;
	}
	.ourservices .card {
		flex-wrap: wrap;
		padding: 1rem;
	}

	.ourservices .card img {
		width: 100%;
		border-radius: 1rem;
	}
	.ourservices {
		padding: 0;
	}
	.ourservices .content {
		grid-gap: 1rem;
	}

	.about {
		padding: 10px 0;
	}
	.secondcontent {
		width: 90%;
		margin: 0 auto;
		height: auto;
		box-shadow: 1px 1px 10px var(--box-shadow);
		position: relative;
		top: -30px;
		z-index: 2;
		background-color: #fff;
		padding: 10px;
		border-radius: 0.7rem;
	}
	.firstcontent h3 {
		color: #fff;
		font-size: 1.5rem;
		font-weight: 400;
		width: 90%;

		/* margin: auto ; */
	}
	.secondcontent p {
		line-height: 22px;
		letter-spacing: normal;
	}
	.thirdparttext h3{
		font-size: 2.8rem;
	}
}
/* medium phone */
@media (max-width: 425px) {
	header img {
		width: 150px;
	}
}
